# build output
dist/

# generated types
.astro/

# dependencies
node_modules/

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# environment variables
.env
.env.local
.env.test
.env.production

# macOS-specific files
.DS_Store

# jetbrains setting folder
.idea/

playwright/.auth
# test output
coverage/
test-results/
playwright-report/*
playwright-report/index.html
html/
e2e/auth.json

# vitest
vitest.config.ts.timestamp-*
/playwright/.auth
.env.local.example
