name: Test & Build  Master

on:
  push:
    branches:
      - master
  workflow_dispatch:

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Setup Node.js
        uses: actions/setup-node@v3
        with:
          node-version: '18'

      - name: Install dependencies
        run: npm install

      - name: Run tests (Vitest & Playwright)
        run: |
          npm run test
          npm run playwright:test
  build:
    runs-on: ubuntu-latest
    needs: test
    steps:
        - name: Checkout repository
        uses: actions/checkout@v3

        - name: Setup Node.js
        uses: actions/setup-node@v3
        with:
          node-version: '18'

      - name: Install dependencies
        run: npm install

      - name: Build
        run: npm run build
